@charset "utf-8";

/* CSS Document */

html {
    height: 100%;
    width: auto;
}


/* body {
    font-size: 14px;
    background-image: url(../img/background.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
} */


/* body {
    font-size: 14px;
    background-image: url(../img/bg.png);
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
} */

#bg {
    font-size: 14px;
    background-image: url(../img/bg.png);
    background-size: cover;
    height: 100vh;
    background-position: 100%;
    background-repeat: no-repeat;
}

#message {
    padding: 5px;
    margin-top: 10px;
    font-size: 0.8em;
}

.fail {
    border: 1px solid #cc0000;
}

.success {
    border: 1px solid #00cc00;
}

#questions {
    background-color: rgba(0, 0, 0, .075);
}

#ques_count {
    display: inline-block;
}

.btnSpk {
    padding: 5px;
    font-size: 0.8em;
    width: 125px;
    margin-right: 3px;
}

#refProgress {
    width: 100%;
    background-color: grey;
    position: relative;
}

#refBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

#timeleft {
    position: absolute;
    top: 4px;
    right: 10px;
    color: #ccc;
}

.links {
    background-color: blue;
    color: white;
}

.links a {
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border-radius: 0;
    border-color: cyan;
    background-color: inherit;
    border-width: medium;
    height: auto;
    padding: 10px 15px;
    font-size: 1em;
}

.form-control:focus {
    box-shadow: none;
}

.btn-submit {
    border-radius: 0;
    text-transform: uppercase;
    background-color: orangered;
    color: #fff;
}

.margin_change {
    margin-top: 150px !important;
}

.admin .form-control {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    /* .mobile_view {
        margin: auto !important;
    } */
    /* #bg {
        font-size: 14px;
        background-image: url(../img/bg.png);
        background-size: 100% 100% !important;
        background-position: cover !important;
        background-repeat: no-repeat;
    } */
    .mobile {
        width: 200px !important;
        text-align: center !important;
    }
    .logout {
        margin-top: 15px;
    }
    .margin_change {
        margin-top: 0px !important;
    }
}

#webcastsubmit {
    background-color: orangered;
}

#logoutbutton {
    background-color: orangered;
}